.content{
  max-width: 700px;
  padding: 16px;
  border-radius: 8px;
  margin-left: 8px;
}

.content p {
  font-family: Merriweather;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 10px;
  font-size: 18px;
  color: #222222;
}

h1 {
  margin-bottom: 20px;
}

h2, h3, h4{
  margin-top: 50px;
  margin-bottom: 20px;
}

